.external-heading {
    color: brown;
    font-size: 26px;
}

.external-about {
    color: darkcyan;
    font-size: 20px;
}

.only-external {
    color: teal;
    font-size: 30px;
}

.only-external-para {
    color: darkblue;
    font-size: 18px;
}
