/* #nil{
    margin-top: 100px 120px 130px 120px;
    border: 40px; 
    background: #b12e2e;
    padding-inline-start: 10vh;
    
}

div{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#non{
    display: table;
    border: 2px solid black;
    width: 300px;
}

#non h1{
    display: table-cell;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
#main{
    background-size: cover;

}
#center{
    height: 100%;
    width: 100%;
} */





body {
    background: #eee;
    font-family: "Times New Roman", serif;
}

.paper {
    width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border: 2px solid #000;
    display: flex;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h1 {
    font-size: 32px;
    margin: 0;
    display: flex;
}

.box {
    border: 2px solid black;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}

.headline {
    text-align: center;
    margin: 20px 0;
}

.headline h2 {
    font-size: 48px;
    margin: 0;
}

.headline p {
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 5px;
}

.content {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.column {
    width: 30%;
}

.column h3 {
    font-size: 16px;
    border-bottom: 2px solid black;
}

.column p {
    font-size: 14px;
    text-align: justify;
}

.image-box {
    width: 40%;
    text-align: center;
}

.image-box img {
    width: 100%;
    border: 2px solid black;
}

.bottom-bar {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}
